/* Schedule Time */
/* ////////////////////////////////////////////////////// */

.schedule-time {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1rem, 10vw, 1.5rem);

  font-weight: 500;
  color: var(--font-color-i-base);
}
@media screen and (max-width: 768px) {
}

/* ////////////////////////////////////////////////////// */
