/* Search Bar */
/* ////////////////////////////////////////////////////// */

.search {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.search-bar {
  display: flex;
  position: relative;

  justify-content: center;
  align-items: center;
  z-index: 2;

  &__input {
    width: 500px;
    height: 30px;
    font-size: large;
    background-color: #3a3a3a;
    border-radius: 8px;
    border: 0px;
  }

  &__loupe {
    position: relative;
    right: 30px;
  }

  &__section {
    position: absolute;
    display: none;
    top: 0;
    width: 100%;
    padding-top: 35px;
    left: 0;
    z-index: -5;

    &.active {
      background-color: rgb(114, 114, 114);
      display: block;
    }

    .search-info {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      font-weight: 500;
      gap: 8px;
      padding: 8px;
      &__chapter {
        color: var(--font-color-main);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .search-bar {
  }
}

/* ////////////////////////////////////////////////////// */
