/* Aside */
/* ////////////////////////////////////////////////////// */
$sizeAside: 50px;
$sizeAsideIncrement: 4.5;

.aside {
  position: fixed;
  overflow-x: hidden;
  z-index: 2;
  background: var(--background-color-lighter);
  border-right: 1px solid var(--border-base-color);
}

.nav-back {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;

  height: 50px;
  width: 100%;

  &__icon {
    transform: rotate(90deg);
    fill: var(--background-color-highlight);
    cursor: pointer;
  }
}

.nav-side {
  height: 100vh;
  width: $sizeAside;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 ($sizeAside / 4);
  padding-top: 10px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    display: flex;
    gap: 5px;

    font-size: 2rem;
  }

  &__icon {
    fill: var(--icon-base-color);
  }

  &__text {
    opacity: 0;
    transition: all 0.2s ease-in;
  }

  &.active {
    width: $sizeAside * $sizeAsideIncrement;
    transition: all 0.2s ease-in;
    // transform: translateX(100px);

    .nav-side {
      &__text {
        opacity: 1;
        transition: all 0.2s ease-in;
      }
    }
  }
  transition: all 0.2s ease-in;
}

.background-blur {
  opacity: 0;

  z-index: 1;
  position: fixed;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(2px);
  pointer-events: none;

  &.active {
    pointer-events: all;

    opacity: 1;
    transition: all 0.2s ease-in;
  }
  transition: all 0.2s ease-in;
}

@media screen and (max-width: 1368px) {
  .aside {
    transform: translateX(-$sizeAside);

    &.active {
      transform: translateX(0);
      transition: all 0.2s ease-in;
    }
    transition: all 0.2s ease-in;
  }
}

/* ////////////////////////////////////////////////////// */
