/* Schedule */
/* ////////////////////////////////////////////////////// */

.schedule-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;

  font-size: clamp(1rem, 10vw, 2rem);
  width: 300px;
  height: 100%;

  border-radius: 5px;

  background-color: var(--background-content);

  box-shadow: 0px 0px 4px var(--shadow-color-base);
  padding: 0.5em;

  &.active {
    box-shadow: 0px 0px 4px var(--shadow-color-active);
  }

  &:hover {
    box-shadow: 0px 0px 6px var(--shadow-color-hover);
    transition: all 0.2s ease-in;
  }
  transition: all 0.2s ease-in;
}

.schedule-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  line-height: 1;
  gap: 10px;

  &__dayname {
    font-size: 2rem;
    color: var(--font-color-base);
  }

  &__date {
    font-size: 1.25rem;
    color: var(--font-color-base-darker);
  }
}

.schedule-pair {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: first baseline;

  height: 100%;
  width: 100%;

  &__time {
    * {
      color: var(--font-color-base-darker);
      font-size: 1.6rem;
    }
  }

  &__type {
    display: flex;
    flex-direction: column;
    gap: 1px;

    .type-content {
      &__icon {
        font-size: 1.2rem;
        text-align: center;
        border-radius: 5px;
        width: 20px;
        height: 20px;
        background-color: var(--background-color-lighter);
      }
    }
  }

  &__name {
  }

  &__hr {
    display: flex;
    background-color: var(--background-color-lighter);
    opacity: 0.5;

    &.v {
      margin: 0 5px;
      height: 40px;
      width: 1px;
    }
    &.h {
      margin: 0 auto;
      padding: 0;
      width: 90%;
      height: 1px;
    }
  }
}

// @media screen and (max-width: 768px) {
// }

/* ////////////////////////////////////////////////////// */
