/* Schedule */
/* ////////////////////////////////////////////////////// */

.schedule {
  margin: 0 auto;

  &__date {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: clamp(1rem, 10vw, 2rem);
  }

  &__content {
    position: relative;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }
}

// @media screen and (max-width: 768px) {
// }

/* ////////////////////////////////////////////////////// */
