/* Discipines Selector */
/* ////////////////////////////////////////////////////// */

.discipline-selector {
  padding: 10px;

  &__search {
    font-size: 1.7rem;
    background-color: #3a3a3a;
    border-radius: 20px;
    border: 0px;
    cursor: pointer;

    width: 100%;
    height: 35px;
    z-index: 1;

    padding: 0 10px;
    margin-bottom: 25px;

    color: var(--font-color-base);

    &:focus {
      cursor: text;
      outline: none;
      border: 0px solid var(--shadow-color-hover);
      box-shadow: 0 0 5px var(--shadow-color-hover);
    }
  }

  &__content {
    display: flex;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
  }

  &__item {
    cursor: pointer;
    padding: 5px 10px;
    border-bottom: 3px solid transparent;

    &:hover {
      border-bottom: 3px solid var(--shadow-color-active-darker);
      transform: scale(1.05);
      * {
        font-weight: 700 !important;
      }
      transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    &.active {
      border-bottom: 3px solid var(--shadow-color-active);
      * {
        font-weight: 900 !important;
      }
    }
  }

  &__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 15 px;

    background-color: var(--font-color-submit);
    color: var(--font-color-i-base-darker);

    cursor: pointer;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 25px;

    width: 250px;
    height: 40px;
    text-align: center;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  // .disciplines-period__background {
  //   display: none;
  // }
}

/* ////////////////////////////////////////////////////// */
