/* Home */
/* ////////////////////////////////////////////////////// */

.home {
  width: 100%;
<<<<<<< HEAD
  height: 100vh;
=======
  height: 100%;
>>>>>>> 7a268f0b98919707a0bb59631e0343e18c2c5da7

  display: flex;
  align-items: center;
  justify-content: center;
}
