/* Home */
/* ////////////////////////////////////////////////////// */

.home {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    font-size: clamp(1rem, 10vw, 2rem);
    // font-size: calc(2.75em + 1vmin);
  }
}

// @media screen and (max-width: 768px) {
//   .home {
//     &__text {
//       font-size: 50px;
//     }
//   }
// }

/* ////////////////////////////////////////////////////// */
