/* Home */
/* ////////////////////////////////////////////////////// */

.main {
  position: relative;
  font-family: var(--font-family-base);
  position: relative;
  padding-top: 50px;
  width: 100%;
  min-height: calc(100vh - 40px);

  animation: fadein 0.25s ease-in;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 9px;
  }
}

@media screen and (max-width: 425px) {
  html {
    font-size: 8px;
  }
}

/* ////////////////////////////////////////////////////// */

.MuiInput-underline:before {
  border-bottom: 0.1px !important;
}
