/* Home */
/* ////////////////////////////////////////////////////// */

.main {
  position: relative;
  font-family: var(--font-family-base);
  padding-top: 50px;
  width: 100%;
  min-height: calc(100vh - 40px);

  display: flex;
  align-items: center;
  justify-content: center;

  animation: fadein 0.25s ease-in;
}

.main-loading {
  height: 100vh;

  display: grid;
  place-content: center;

  animation: fadein 0.25s ease-in;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 9px;
  }
}

@media screen and (max-width: 425px) {
  html {
    font-size: 8px;
  }
}

/* ////////////////////////////////////////////////////// */

.MuiInput-underline:before {
  border-bottom: 0.1px !important;
}
