/* Home */
/* ////////////////////////////////////////////////////// */

.main {
  font-family: var(--font-family-base);
  position: relative;
  padding-top: 50px;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 9px;
  }
}

@media screen and (max-width: 425px) {
  html {
    font-size: 7.5px;
  }
}

/* ////////////////////////////////////////////////////// */

.MuiInput-underline:before {
  border-bottom: 0.1px !important;
}
