:root {
  --font-code: Monaco, Menlo, Consolas, Ubuntu Mono, Courier New, monospace;
  --font-alt-hadline-letter-spacing: 0.18px;
  --font-family-base: 'open sans', Helvetica, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';

  --font-color-base-darker: #aaaaaa;
  --font-color-base: #dddddd;

  --background-color: #202020;
  --background-color-highlight: #101010;
  --background-color-lighter: #323232;
  --background-content: #191919;

  --shadow-color-base: rgb(15, 15, 15);
  --shadow-color-base-darker: rgba(40, 40, 40);
  --shadow-color-active: rgb(46, 221, 206);
  --shadow-color-active-darker: rgba(40, 110, 220, 0.25);
  --shadow-color-hover: rgb(45, 45, 45);

  --transition-base-type: cubic-bezier(0.215, 0.61, 0.355, 1);
}

body {
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;

  color: var(--font-color-base) !important;
  background-color: var(--background-color) !important;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  font-size: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body *::-moz-selection {
  color: var(--font-color-main-lighter); /* Цвет текста */
  background: var(--background-color-lighter); /* Цвет фона */
}

body *::-webkit-selection {
  color: var(--font-color-main-lighter); /* Цвет текста */
  background: var(--background-color-lighter); /* Цвет фона */
}

body *::selection {
  color: var(--font-color-main-lighter); /* Цвет текста */
  background: var(--background-color-lighter); /* Цвет фона */
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// @media screen and (max-width: 768px) {
//   html {
//     font-size: 5px;
//   }
// }
